  /* loginform---- */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color-black: black;
    --text-color: #fff;
    --main-color: #EC4E20;
}


section {
    display: flex;
    position: absolute;
    width: 70%;
    height: 80vh;
    left: 15%;
    top: 10%;
    background-color: white;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

body {
    background-color: #ececec;
}

section .imgbox {
    background: url(../images/rocket.jpeg);
    position: relative;
    width: 50%;
    height: 100%;
}

section .imgbox:before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(200deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

section .imagetext span {
    font-size: 0.8em;
}
section .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentbox .formbox {
    width: 50%;
}

section .contentbox .formbox h2 {
    color: black;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentbox .formbox .inputbox {
    margin-bottom: 20px;
}

section .contentbox .formbox .inputbox span {
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
    color: var(--text-color-black);
    font-weight: 300;
    letter-spacing: 1px;
}

section .contentbox .formbox .inputbox input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid black;
    font-size: 15px;
    letter-spacing: 1px;
    color: #607d8b;
    border-radius: 13px;
}

section .contentbox .formbox .inputbox input[type="submit"] {
    background: var(--main-color);
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    transition: all .5s ease;
}

section .contentbox .formbox .inputbox input[type="submit"]:hover {
    background: #a62700;
}

section .contentbox .formbox .inputbox p a {
    color: var(--main-color);
}