* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  /* theme color */
  :root {
    --text-color-black: black;
    --text-color: #fff;
    --main-color: #EC4E20;
  }

  body {
    height: 100vh;
  }
  
  main {
    width: 80%;
    margin: 0 auto;
    height: 85vh;
  }

.header {
  text-align: center;
  font-size: 2em;
  padding: 1.5em 0 1em 0;
}

.box {
  border-radius: 0px 10px 10px 0px;
  position: relative;
  background-color: rgb(255 255 255);
  padding: 2em 1em 2.5em 1em;
  margin: 2em;
  box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 20%);
  border-left: 2.5em solid #EC4E20;
  width: 25em;
}

.box .data {
  font-size: 1.5em;
  font-weight: 700;
}

.box .btn {
  border-radius: 10px 0px 10px 0px;
  color: black;
  position: absolute;
  padding: 1em;
  background-color: #f8f8f8;
  float: right;
  transition: 0.3s ease-out, color 0.3s ease-out;
  bottom: 0;
  right: 0;
  border-top: 2px dashed #6e6e6e;
  border-left: 2px dashed #6e6e6e;
}

.box a.btn:hover {
  background-color: #ffa500;
  color: #fff;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ask_book {
  font-size: 1.5em;
  padding: 2em 0 1em 0;
  text-align: center;
}

a.last_btn {
  margin-bottom: 2em;
  color: #fff;
  padding: 1em 2em;
  background-color: #EC4E20;
  border-radius: 5px;
  transition: 0.3s ease-out, color 0.3s ease-out;
}

a.last_btn:hover {
  background-color: #ffa500;
  color: #fff;
}

.button-box {
  padding: 2em 0 3em 0;
  display: flex;
  justify-content: center;
  align-content: center;
}