* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --text-color-black: black;
    --text-color: #fff;
    --main-color: #EC4E20;
}

body {
    height: 100vh;
    font-size: 16px;
    color: #666666;
    /* background-color: #f6f6f6; */
}

main {
    height: 80vh;
}

/* ---------------------------------------
                Ride_history
--------------------------------------- */

.contents {
    padding: 4.5em 0 4em 0;
    color: black;
    background-image: url(images/gray.jpeg);
}

.contents h2 {
    font-size: 4em;
    font-weight: 700;
}

.contents h2 span {
    color: var(--main-color);
}
.contents p {
    font-size: 1em;
    color: rgb(63, 63, 63);
}

.contents .texts {
    width: 77%;
    margin: 0 auto;
}

.activity {
    font-size: 1.7em;
    font-weight: 700;
    color: rgb(63, 63, 63);
    padding-top: 1.5em;
    width: 77%;
    margin: 0 auto;
}

/* time filter  */

#period_select {
    padding: 1em 0 2em 0;
    width: 77%;
    margin: 0 auto;
}

.box {
    background-color: rgb(245 247 248);
    border-bottom: 1px solid black;
    padding: 2.5em 0;
    width: 80%;
    margin: 0 auto;
}

.box span {
    color: var(--main-color);
    /* padding-right: 5em; */
}

.box .data {
    color: rgb(63, 63, 63);
    font-weight: 500;
    min-width: 14em;
}

.address-box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    justify-content: space-between;
}

.btn-group {
    position: absolute;
    right: 2em;

}

.datebox {
    font-size: 0.8em;
}

.no-result-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-warning {
    color: white;
    padding: 0.5em 0.8em;
    background-color: rgb(68 68 68);
    border-radius: 25px;
    transition: 0.3s ease-out, color 0.3s ease-out;
}

.btn.btn-warning:hover {
    color: rgb(41, 41, 41);
    background-color: rgb(233 233 233);
}

/* a:link {
    color: green;
  }
  
  a:visited {
    color: green;
  } */

