* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --text-color-black: black;
    --text-color: #fff;
    --main-color: #EC4E20;
}

/* -------Lost and Found -------- */

body {
    font-size: 16px;
    line-height: 1.6;
    color: #666666;
    background-color: #f6f6f6;
}


/* .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    overflow: hidden;
}
  
.form-wrapper {
    max-width: 60vw;
    height: 80vh;
    width: 100%;
    padding: 40px 40px 40px 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
} */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    height: 100vh;
    box-sizing: border-box;
}
  
.form-wrapper {
    max-width: 60vw;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: auto; /* 스크롤바 추가 */
}


.form-group {
    padding: 10px;
}

.form-group.buttons {
    padding: 7em 0 0 0;
    text-align: right;
}

label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="reset"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    background-color: #333333;
    cursor: pointer;
}

input[type="submit"] {
    background-color: var(--main-color);
    border: none;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: #808080;
}

input[type="submit"]:hover {
    background-color: #ffa500;
}



.container {
    display: flex;
}

.col {
    flex: 50%;
    padding: 20px 20px 20px 10px;
    height: 300px;
}


/* map */

#googleMap {
    width: 80%;
    height: 400px;
    margin: 10px auto;
}

/*output box*/
#output {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

